body {
    font-size: large;
    font-family: system-ui;

    background-color: azure;
}

select {
    display: block;
    font-size: x-large;
    padding: 5px;
    margin: 10px auto;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

canvas {
    aspect-ratio: 1/1;
    width: 280px;
}

#c2 {
    /* disable antialiasing */
    image-rendering: optimizeSpeed; /* Older versions of FF          */
    image-rendering: -moz-crisp-edges; /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated; /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor; /* IE                            */
}

.canvasContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.canvasContainer > button {
    margin: auto;
    padding: 10px 50px;
    font-size: large;
}


#resultSide {
    min-width: 280px;
}
ul {
    list-style: none;
    font-weight: bold;
    font-size: x-large;
    margin:0px;
    padding:0px;
}
li {
    margin: 0px;
    position: relative;
    background-color: lightblue;

    z-index: 3;
}

.top {
    background-color: red;
}
.spanWidth {
    position: absolute;
    background-color: blue;
    height: 100%;
    width: 50%;
    top: 0;
    z-index: -1;
}
