/* !Select selected not using our color */
/* ! Touch clicking on clear canvas don't rechange color */

:root {
    --background-color: #f3f6f2;
    --accent-color: #a8dadc;
    --accent2-color: #457b9d;
    --top-result: #e63946;
}

::-moz-selection {
    /* Code for Firefox */
    background: var(--accent2-color);
}

::selection {
    background: var(--accent2-color);
}

body {
    font-size: large;
    font-family: system-ui;
    background-color: var(--background-color);
}

select {
    display: block;
    font-size: x-large;
    padding: 5px;
    margin: 10px auto;
    background-color: var(--accent-color);
    border: 0px;
    border-radius: 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

canvas {
    aspect-ratio: 1/1;
    width: 280px;
    touch-action: none;
}

#c2 {
    /* disable antialiasing */
    image-rendering: optimizeSpeed; /* Older versions of FF          */
    image-rendering: -moz-crisp-edges; /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated; /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor; /* IE                            */
}

.canvasContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.canvasContainer > button {
    margin: auto;
    padding: 10px 50px;
    font-size: large;
    background-color: var(--accent-color);
    border: 0px;
}

/* *So it don't change colors on mobile */
@media (hover: hover) {
    .canvasContainer > button:hover {
        background-color: var(--accent2-color);
    }
}

#resultSide {
    min-width: 280px;
}
ul {
    list-style: none;
    font-weight: bold;
    font-size: x-large;
    margin: 0px;
    padding: 0px;
}
li {
    display: flex;
    margin: 0px;
    position: relative;
    z-index: 3;
}

#topResult {
    background-color: var(--top-result);
}
.chanceContainer {
    background-color: var(--accent-color);
    width: 100%;
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
}

.numberChance {
    /* position: absolute; */
    background-color: var(--accent2-color);
    height: 100%;
}
#explenation {
    width: 100%;
}

@media only screen and (max-width: 912px) {
    #c2Container {
        display: none;
    }
}
