#container {
    display: flex;
}
canvas {
    border: 5px black solid;
}

#c {
    border: 1px solid #cccccc;
    /* disable antialiasing */
    image-rendering: optimizeSpeed; /* Older versions of FF          */
    image-rendering: -moz-crisp-edges; /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated; /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor; /* IE                            */
    height: 200px;
    width: 200px;
}

ul {
    padding: 15px;
    list-style: none;
    font-weight: 1000;
}

.top {
    background-color: red;
}